@using StormPDP.Models
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>ReviewPDF</title>


</head>
<body>
    <header>
        <h1>Review</h1>
        <div class="list-group">
            <div>
                <h3 class="mb-1">@Model.Employee.Name</h3>
                <h4>@Model.DateCreated.Value.ToShortDateString()</h4>
            </div>

            <br />
            <div class="list-group">
                <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Job Knowledge Rating: </b>@Model.JobKnowledge</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Comments: </b>@Model.JobKnowledgeComment</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Quality of Work Rating: </b>@Model.WorkQuality</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Comments: </b>@Model.WorkQualityComment</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Attendance/Punctuality Rating: </b>@Model.Attendance</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Comments: </b>@Model.AttendanceComment</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Initiative Rating: </b>@Model.Initiative</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Comments: </b>@Model.InitiativeComment</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Communication Rating: </b>@Model.Communication</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Comments: </b>@Model.CommunicationComment</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Dependability Rating: </b>@Model.Dependability</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Comments: </b>@Model.DependabilityComment</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Overall Performance Rating: </b>@Model.OverallRating</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>Summary: </b>@Model.Comment</li>
                </ul>
            </div>
        </div>

    </header>

</body>
</html>
