<div class="navbar-fixed">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">PDP</a>
                <a href="#"
                   data-target="mobile-nav"
                   class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>

                <ul class="right hide-on-med-and-down">
                    <li class="nav-link">@Html.ActionLink("Home ", "Index", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Admin ", "Admin", "Home")</li>
                    <li class="nav-link">@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li class="nav-link">@Html.ActionLink("Home ", "Index", "Home")</li>
    <li class="nav-link">@Html.ActionLink("Admin ", "Admin", "Home")</li>
    <li class="nav-link">@Html.Partial("_LoginPartial")</li>
</ul>

<script src="~/Scripts/materialize.min.js"></script>

<script>
    // sidenav
    const sideNav = document.querySelector('.sidenav')
    M.Sidenav.init(sideNav, {});
</script>