@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center">Admin Dashboard</h2>
<section class="section section-icons center">
    <div class="container">
        <div class="row">
            <div class="col sm12 m6">
                <div class="card-panel">
                    <i class="material-icons medium teal-text">create</i>
                    <br />
                    <h4 style="text-align:center; color:teal">Employees</h4>
                    @Html.ActionLink("New", "New", "Employee",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                    @Html.ActionLink("View", "Index", "Employee",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                </div>
            </div>
            <div class="col sm12 m6">
                <div class="card-panel">
                    <i class="material-icons medium teal-text">create</i>
                    <br />
                    <h4 style="text-align:center;color:teal">Managers</h4>
                    @Html.ActionLink("New", "New", "Manager",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                    @Html.ActionLink("View", "Index", "Manager",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col sm12 m6">
                <div class="card-panel">
                    <i class="material-icons medium teal-text">create</i>
                    <br />
                    <h4 style="text-align:center;color:teal">Performance Reviews</h4>
                    @Html.ActionLink("New", "New", "Review",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                    @Html.ActionLink("View", "Index", "Review",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                </div>
            </div>
            <div class="col sm12 m6">
                <div class="card-panel">
                    <i class="material-icons medium teal-text">create</i>
                    <br />
                    <h4 style="text-align:center;color:teal">Development Plans</h4>
                    @Html.ActionLink("New", "New", "DevelopmentPlan",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                    @Html.ActionLink("View", "Index", "DevelopmentPlan",
                        new { },
                        new { @class = "waves-effect waves-light btn" })
                </div>
            </div>
        </div>
    </div>
</section>


